%div{ class: "result-filters__section result-filters__section--#{facet.system_name}" }
  %h2= t('workarea.storefront.products.filter_title', name: facet.display_name)
  %ul.result-filters__group
    - facet.results.each do |value_name, count|
      %li.result-filters__filter{ class: facet.selected?(value_name) ? 'result-filters__filter--selected' : nil }
        = link_to render_swatch_facet(value_name), facet_path(facet, value_name), rel: 'nofollow', class: 'results-filters__swatch-link'

        = link_to facet_path(facet, value_name), rel: 'nofollow', class: 'result-filters__link' do
          = value_name.titleize

          - if facet.selected?(value_name)
            %strong.result-filters__remove= t('workarea.storefront.products.remove_filter')
          -else
            %span.result-filters__count (#{count})
